<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server06.miniproject.mapper.ChallengeActivityMapper">

	<insert id="insertChallengeActivity" parameterType="server06.miniproject.model.ChallengeActivity">
		INSERT INTO challenge_activity (chal_act_id, chal_id, regdate, img)
		VALUES(
			(SELECT NVL(MAX(chal_act_id)+1,0) FROM challenge_activity),
			#{item.chalId},
			TO_CHAR(sysdate,'YYYY-MM-DD'),
			#{item.img})
	</insert>
	
	<delete id="deleteChallengeActivity" parameterType="int">
		DELETE
		FROM challenge_activity
		WHERE chal_id = #{chalId}
	</delete>
	
	<select id="selectChallengeActivityList" parameterType="int" resultType="server06.miniproject.model.ChallengeActivity">
		SELECT a.chal_act_id, a.chal_id, a.regdate, a.img, a.cnt
		FROM challenge_activity a
		JOIN challenge c
		ON c.chal_id = a.chal_id
		WHERE mem_id = #{memId}
	</select>
	
	<update id="updateChallengeActivityCount" parameterType="int">
		UPDATE challenge_activity
		SET cnt = #{item.cnt}
		WHERE chal_act_id = #{chalactId}
	</update>
	
	<select id="selectChallengeActivityChalList" parameterType="int" resultType="server06.miniproject.model.ChallengeActivity">
		SELECT chal_act_id, chal_id, regdate, img, cnt
		FROM challenge_activity
		WHERE chal_id = #{chalId}
	</select>

</mapper>