<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server06.miniproject.mapper.ChallengeMapper">

	<insert id="insertChallenge"
		parameterType="server06.miniproject.model.Challenge">
		INSERT INTO challenge (chal_id, mem_id, regdate, deadline, chal_fr_id, chal_point)
		VALUES(
		(SELECT
		NVL(MAX(chal_id)+1,0) FROM challenge),
		#{item.memId},
		#{item.regdate},
		#{item.deadline},
		#{item.chalfrId},
		#{item.chalPoint})
	</insert>
	
	<delete id="deleteChallenge" parameterType="server06.miniproject.model.Challenge">
		DELETE 
		FROM challenge
		WHERE chal_id = #{chalId}
	</delete>

	<select id="selectChallengeList" parameterType="int" resultType="server06.miniproject.model.ChallengeList">
		SELECT c.chal_id, c.regdate, c.deadline, c.chal_point, f.title, f.des
		FROM challenge c
		JOIN challenge_frame f
		ON c.chal_fr_id = f.chal_fr_id
		WHERE mem_id = #{memId}
	</select>
	
	<select id="selectChallengeCompletedList" resultType="server06.miniproject.model.Challenge">
		SELECT chal_id, mem_id, regdate, deadline, chal_fr_id, completed, chal_point
		FROM challenge
		WHERE completed = 1
	</select>
	
	<update id="updateChallengeCompleted" parameterType="server06.miniproject.model.Challenge">
		UPDATE challenge
		SET completed = #{item.completed}
		WHERE chal_id = #{chalId}
	</update>
	


</mapper>