<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server06.miniproject.mapper.ChallengeActivityMapper">

	<insert id="insertChallengeActivity" parameterType="server06.miniproject.model.ChallengeActivity">
		INSERT INTO challenge_activity (chal_act_id, chal_id, regdate, img)
		VALUES(
			(SELECT NVL(MAX(chal_act_id)+1,0) FROM challenge_activity),
			#{item.chalId},
			sysdate,
			#{item.img})
	</insert>
	
	<delete id="deleteChallengeActivity" parameterType="int">
		DELETE
		FROM challenge_activity
		WHERE chal_act_id = #{chalactId}
	</delete>
	
	<select id="selectChallengeActivityList" parameterType="int" resultType="java.util.LinkedHashMap">
		SELECT regdate, img
		FROM challenge_activity
		WHERE chal_id = #{chalId}
	</select>

</mapper>